<section class='section'>
  <div class='container'>

    <h1 class='section__heading'>Popular stuff</h1>
    <ul class='grid'>
      {{#each products}}
        <a href="/product/{{id}}">
          <li class='grid__item'>
          <article class='product'>
            <img class='product__image' src='{{image}}' alt='{{name}}' />
            <h2 class='product__name'>{{name}}</h2>
            <p class='product__price'>Price: {{price}} credits</p>
            <button
              type='button'
              class='button product__button'
              aria-label='Add to cart'
            >
              <span class='class=button__icon'></span>
            </button>
          </article>
        </a>
        </li>
      {{/each}}
    </ul>
  </div>
</section>